# **Importation**

In [1]:
import pandas as pd

df_cleaned_v1 = pd.read_csv("df_cleaned_v1.csv")

df_cleaned_v1

,ID,Nom du/des Réalisateur(s),Titre,Titre Français,Année,Décennie,Genres,Note,Votes,Popularité
0,tt0035423,['James Mangold'],Kate & Leopold,Kate et Léopold,2001,2000,"Comedy,Fantasy,Romance",6.4,90632,Populaire
1,tt0065134,['Don Siegel'],Two Mules for Sister Sara,Sierra torride,1970,1970,"Adventure,Drama,Romance",7.0,31426,Populaire
2,tt0065143,['Dario Argento'],The Bird with the Crystal Plumage,L'oiseau au plumage de cristal,1970,1970,"Horror,Mystery,Thriller",7.1,25170,Populaire
3,tt0065377,"['George Seaton', 'Henry Hathaway']",Airport,Airport,1970,1970,"Action,Drama,Thriller",6.6,22690,Connu
4,tt0065421,['Wolfgang Reitherman'],The Aristocats,Les Aristochats,1970,1970,"Adventure,Animation,Comedy",7.1,117609,Très populaire
...,...,...,...,...,...,...,...,...,...,...
8483,tt9873892,['Juel Taylor'],They Cloned Tyrone,Ils ont cloné Tyrone,2023,2020,"Comedy,Mystery,Sci-Fi",6.6,43414,Populaire
8484,tt9883832,['Brett Morgen'],Moonage Daydream,Moonage Daydream,2022,2020,"Biography,Documentary,History",7.6,15244,Connu
8485,tt9893250,['J Blakeson'],I Care a Lot,I Care a Lot,2020,2020,"Comedy,Crime,Drama",6.4,150415,Très populaire
8486,tt9900782,['Lokesh Kanagaraj'],Kaithi,Kaithi,2019,2010,"Action,Crime,Drama",8.4,44840,Populaire
8487,tt9907782,['Sean Ellis'],The Cursed,Eight for Silver,2021,2020,"Fantasy,Horror,Mystery",6.2,18984,Connu

# **Système de recommandation**

In [ ]:
def recommend_by_genre(df, genre, top_n=5):
    filtered = df[df['Genres'].str.contains(genre, na=False)].sort_values(by='Note', ascending=False)
    return filtered[['Titre', 'Titre Français', 'Année', 'Note']].head(top_n)

print(recommend_by_genre(df_merged_test, 'Action'))

                                                  Titre  \
6455                Ramayana: The Legend of Prince Rama
1                                       The Dark Knight
10        The Lord of the Rings: The Return of the King
2819                                              Kaiva
9     The Lord of the Rings: The Fellowship of the Ring

                                         Titre Français  Année  Note
6455                Ramayana: The Legend of Prince Rama   1993   9.2
1                   The Dark Knight : Le Chevalier noir   2008   9.0
10           Le Seigneur des anneaux : Le Retour du roi   2003   9.0
2819                                                NaN   2023   8.9
9     Le Seigneur des anneaux : La Communauté de l'a...   2001   8.9

In [ ]:
print(recommend_by_genre(df_merged_test, 'Comedy'))

                                 Titre Titre Français  Année  Note
3759                   The Chaos Class            NaN   1975   9.2
5081  The Chaos Class Failed the Class            NaN   1975   8.9
5076                       Tosun Pasha            NaN   1976   8.9
5555               The Foster Brothers            NaN   1976   8.8
6160               The Marathon Family            NaN   1982   8.8

In [ ]:
print(recommend_by_genre(df_merged_test, 'Drama'))

                          Titre          Titre Français  Année  Note_Moyenne
16221  The Shawshank Redemption              Les Évadés   1994           9.3
6490              The Godfather              Le Parrain   1972           9.2
15608          Schindler's List   La Liste de Schindler   1993           9.0
1690               12 Angry Men  Douze Hommes en colère   1957           9.0
7290      The Godfather Part II   Le Parrain, 2ᵉ partie   1974           9.0