# **Importation**

In [4]:
import pandas as pd

df_movie = pd.read_csv("../data/processed/df_movie_cleaned.csv")

df_movie

,ID,Nom du/des Réalisateur(s),Titre,Titre Français,Année,Décennie,Genres,Note,Votes,Popularité
0,tt0035423,['James Mangold'],Kate & Leopold,Kate et Léopold,2001,2000,"Comedy,Fantasy,Romance",6.4,90632,Populaire
1,tt0066580,['Michael Wadleigh'],Woodstock,Woodstock,1970,1970,"Documentary,History,Music",8.1,18764,Connu
2,tt0066763,['Hrishikesh Mukherjee'],Anand,Anand,1971,1970,"Drama,Musical",8.1,35938,Populaire
3,tt0066921,['Stanley Kubrick'],A Clockwork Orange,Orange mécanique,1971,1970,"Crime,Sci-Fi",8.2,897393,Blockbuster
4,tt0067093,['Norman Jewison'],Fiddler on the Roof,Un violon sur le toit,1971,1970,"Drama,Family,Musical",8.0,48808,Populaire
...,...,...,...,...,...,...,...,...,...,...
6022,tt9873892,['Juel Taylor'],They Cloned Tyrone,Ils ont cloné Tyrone,2023,2020,"Comedy,Mystery,Sci-Fi",6.6,43414,Populaire
6023,tt9883832,['Brett Morgen'],Moonage Daydream,Moonage Daydream,2022,2020,"Biography,Documentary,History",7.6,15244,Connu
6024,tt9893250,['J Blakeson'],I Care a Lot,I Care a Lot,2020,2020,"Comedy,Crime,Drama",6.4,150415,Très populaire
6025,tt9900782,['Lokesh Kanagaraj'],Kaithi,Kaithi,2019,2010,"Action,Crime,Drama",8.4,44840,Populaire
6026,tt9907782,['Sean Ellis'],The Cursed,Eight for Silver,2021,2020,"Fantasy,Horror,Mystery",6.2,18984,Connu

# **Système de recommandation**

In [5]:
def recommend_by_genre(df, genre, top_n=5):
    filtered = df[df['Genres'].str.contains(genre, na=False)].sort_values(by='Note', ascending=False)
    return filtered[['Titre', 'Titre Français', 'Année', 'Note']].head(top_n)

print(recommend_by_genre(df_movie, 'Action'))

                                                  Titre  \
529                 Ramayana: The Legend of Prince Rama
229       The Lord of the Rings: The Return of the King
1665                                    The Dark Knight
159   The Lord of the Rings: The Fellowship of the Ring
230               The Lord of the Rings: The Two Towers

                                         Titre Français  Année  Note
529                 Ramayana: The Legend of Prince Rama   1993   9.2
229          Le Seigneur des anneaux : Le Retour du roi   2003   9.0
1665                The Dark Knight : Le Chevalier noir   2008   9.0
159   Le Seigneur des anneaux : La Communauté de l'a...   2001   8.9
230            Le Seigneur des anneaux : Les Deux Tours   2002   8.8

In [6]:
print(recommend_by_genre(df_movie, 'Comedy'))

                                Titre                    Titre Français  \
487                   The Chaos Class                   The Chaos Class
501                       Tosun Pasha                       Tosun Pasha
488  The Chaos Class Failed the Class  The Chaos Class Failed the Class
499               The Foster Brothers               The Foster Brothers
52                The Marathon Family               The Marathon Family

     Année  Note
487   1975   9.2
501   1976   8.9
488   1975   8.9
499   1976   8.8
52    1982   8.8

In [7]:
print(recommend_by_genre(df_movie, 'Drama'))

                                              Titre  \
119                        The Shawshank Redemption
6                                     The Godfather
109                                Schindler's List
229   The Lord of the Rings: The Return of the King
1665                                The Dark Knight

                                  Titre Français  Année  Note
119                                   Les Évadés   1994   9.3
6                                     Le Parrain   1972   9.2
109                        La Liste de Schindler   1993   9.0
229   Le Seigneur des anneaux : Le Retour du roi   2003   9.0
1665         The Dark Knight : Le Chevalier noir   2008   9.0

# **Streamlit**